@import 'base/fonts';
@import 'base/globals';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';
@import 'libs/libs';
@import '../components/components';
@counter-style number-without-dot {
    system: fixed;
    symbols: '1' '2' '3' '4' '5' '6';
    suffix: " ";
}

main {
    font-family: 'Montserrat', sans-serif;
    margin-top: 58px;
    a {
        text-decoration: none;
        color: black;
    }
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 60px;
        margin: 0;
    }
    .container {
        max-width: 1248px;
        padding: 0 15px;
        margin: 0 auto;
    }
    hr {
        width: 69px;
        border: 2.5px solid #E33E54;
        background-color: #E33E54;
        margin: 0;
        text-align: left;
    }
    h2 {
        margin: 0;
        margin-top: 13px;
        font-weight: 600;
        font-size: 40px;
    }
    section {
        &.nav-bar {
            margin-top: 42px;
            height: 48px;
            border-top: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
            display: flex;
            align-items: center;
            img {
                margin: 0 8px;
            }
            span {
                font-weight: 400;
                font-size: 12px;
                &.main a {
                    color: #B1B1B1;
                }
                &.now a {
                    color: #4C858B;
                }
            }
        }
        &.info {
            margin-top: 81px;
            color: #000000;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            span.red {
                color: #E33E54;
                font-weight: 600;
            }
        }
        &.advantages {
            margin-top: 46px;
            .title {
                font-weight: 600;
                font-size: 40px;
                line-height: 63px;
            }
            .subtitle {
                font-weight: 800;
                font-size: 50px;
                color: #E33E54;
                text-transform: uppercase;
                line-height: 63px;
            }
            ul {
                list-style-type: none;
                list-style-image: url(../../assets/images/main/ellipse.svg);
                width: 513px;
                padding-left: 44px;
                padding-top: 20px;
                li {
                    font-weight: 400;
                    line-height: 24px;
                    padding-left: 10px;
                    margin-bottom: 24px;
                }
                li:last-of-type {
                    margin-bottom: 0;
                }
            }
            .blob {
                position: relative;
                top: -524px;
                left: 584px;
            }
            .chimney {
                position: relative;
                top: -1130px;
                left: 763px;
            }
        }
        &.assembling {
            margin-top: -944px;
            .grid-container {
                margin-top: 50px;
                display: grid;
                grid-template-columns: repeat(2, 4fr 27fr);
                // grid-template-columns: repeat(2, 80px 540px);
                grid-template-rows: repeat(3, 95px);
                grid-template-areas: " count1 content1 count4 content4" " count2 content2 count5 content5" " count3 content3 count6 content6";
                align-items: center;
                .assembling__counter-1 {
                    grid-area: count1;
                }
                .assembling__counter-2 {
                    grid-area: count2;
                }
                .assembling__counter-3 {
                    grid-area: count3;
                }
                .assembling__counter-4 {
                    grid-area: count4;
                }
                .assembling__counter-5 {
                    grid-area: count5;
                }
                .assembling__counter-6 {
                    grid-area: count6;
                }
                .assembling__item-1 {
                    grid-area: content1;
                }
                .assembling__item-2 {
                    grid-area: content2;
                }
                .assembling__item-3 {
                    grid-area: content3;
                }
                .assembling__item-4 {
                    grid-area: content4;
                }
                .assembling__item-5 {
                    grid-area: content5;
                }
                .assembling__item-6 {
                    grid-area: content6;
                }
                .assembling__counter-1,
                .assembling__counter-2,
                .assembling__counter-3,
                .assembling__counter-4,
                .assembling__counter-5,
                .assembling__counter-6 {
                    font-weight: 700;
                    font-size: 70px;
                    color: rgba(227, 62, 84, 0.2);
                }
                .assembling__item-1,
                .assembling__item-2,
                .assembling__item-3,
                .assembling__item-4,
                .assembling__item-5,
                .assembling__item-6 {
                    line-height: 30px;
                }
            }
        }
        &.why {
            margin-top: 84px;
            p {
                margin: 0;
                line-height: 30px;
            }
            p.info {
                margin: 0;
                margin-top: 52px;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
            }
            .services {
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                h3 {
                    margin: 32px 0 14px 0;
                    font-weight: 700;
                    font-size: 20px;
                }
                .services__guarantee {
                    font-size: 16px;
                    span.product {
                        font-weight: 400;
                    }
                    span.gaurantee {
                        color: #E33E54;
                        font-weight: 600;
                    }
                }
            }
            .services__guarantee,
            .services__help,
            .services__reviews {
                min-width: 386px;
                max-width: 386px;
            }
        }
        &.consultation {
            margin-top: 85px;
            display: flex;
            justify-content: center;
            h2 {
                font-weight: 800;
                font-size: 50px;
                line-height: 40px;
                text-align: center;
                text-transform: uppercase;
            }
            p.request {
                margin: 10px 0 0 0;
                font-weight: 300;
                font-size: 22px;
                line-height: 40px;
                text-align: center;
            }
            .socials {
                margin-top: 32px;
                display: flex;
                justify-content: center;
                .images {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 200px;
                }
            }
            form {
                max-width: 866px;
                height: 260px;
                margin: 0 auto;
                margin-top: 38px;
                box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
                display: flex;
                justify-content: center;
                flex-direction: column;
                .info,
                .inputs {
                    margin-left: 58px;
                }
                .form-container {
                    margin-bottom: 18px;
                }
                span.black {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 10px;
                }
                span.red {
                    color: #EA6628;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 10px;
                }
                p.soon {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                }
                input {
                    height: 55px;
                    letter-spacing: 0.1em;
                }
                input[type="text"] {
                    width: 222px;
                    padding-left: 14px;
                    margin-right: 12px;
                    border: 1px solid #E5E5E5;
                    border-radius: 4px;
                    color: #B1B1B1;
                    &::placeholder {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
                input[type="button"] {
                    width: 240px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    background: #215359;
                    border: 0;
                    border-radius: 4px;
                }
            }
        }
        &.video {
            margin-top: 108px;
            p.info {
                margin-top: 68px;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
            }
            .background {
                margin: 0 auto;
                margin-top: 50px;
                max-width: 1156px;
                height: 500px;
                background-image: url(../../assets/images/main/blob-video.svg);
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    position: relative;
                    top: 18px;
                    left: -10px;
                }
            }
        }
        &.photo {
            margin-top: 86px;
            margin-bottom: 127px;
            p.info {
                margin-top: 68px;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
            }
            .example {
                margin-top: 47px;
                img:nth-child(-n+3) {
                    margin-right: 30px;
                }
                img:nth-child(n+6) {
                    margin-left: 30px;
                }
                img:nth-child(-n+4) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .adaptive768-no-display {
        display: none;
    }
    h1 {
        margin-top: -2px !important;
        font-size: 45px !important;
        line-height: 55px;
    }
    h2 {
        font-size: 30px !important;
    }
    .container {
        max-width: 735px !important;
    }
    .nav-bar {
        margin-top: 29px !important;
    }
    .info {
        margin-top: 60px !important;
    }
    .advantages {
        margin-top: 20px !important;
        .title {
            font-size: 30px !important;
            line-height: 47px !important;
        }
        .subtitle {
            font-size: 40px !important;
            line-height: 52px !important;
        }
        ul {
            padding-top: 6px !important;
            max-width: 681px !important;
            width: max-content !important;
        }
    }
    .assembling {
        margin-top: 55px !important;
        .grid-container {
            margin-top: 27px !important;
            grid-template-columns: repeat(2, 40px 342px) !important;
            grid-template-rows: 70px 70px 120px !important;
        }
        .assembling__counter-1,
        .assembling__counter-2,
        .assembling__counter-3,
        .assembling__counter-4,
        .assembling__counter-5,
        .assembling__counter-6 {
            font-size: 50px !important;
        }
        .assembling__item-1,
        .assembling__item-2,
        .assembling__item-3,
        .assembling__item-4,
        .assembling__item-5,
        .assembling__item-6 {
            font-size: 14px !important;
            line-height: 26px !important;
        }
    }
    .why {
        margin-top: 49px !important;
        p.info {
            margin-top: 40px !important;
        }
        .services {
            font-size: 14px !important;
            justify-content: center !important;
            flex-wrap: wrap;
            p {
                line-height: 26px;
            }
            h3 {
                margin-top: 27px !important;
                font-size: 18px !important;
            }
            .services__guarantee {
                font-size: 14px !important;
            }
            .services__guarantee,
            .services__help,
            .services__reviews {
                text-align: center;
                min-width: 314px !important;
                max-width: 353px !important;
                width: 353px;
            }
            .services__guarantee {
                margin-right: 14px;
            }
            .services__help {
                margin-left: 14px;
            }
            .services__reviews {
                margin-top: 26px !important;
            }
            p.text,
            p.ten {
                margin-top: -7px !important;
            }
        }
    }
    .consultation {
        margin-top: 32px !important;
        h2 {
            font-size: 40px !important;
        }
        p.request {
            margin-top: 0 !important;
            font-size: 16px !important;
        }
        .socials {
            margin-top: 23px !important;
        }
        form {
            margin-top: 33px !important;
            height: 390px !important;
            .info,
            .inputs {
                margin-left: 0 !important;
            }
            .form-container {
                text-align: center;
                width: 400px !important;
                height: 100% !important;
                margin-top: -12px !important;
                margin-left: auto !important;
                margin-right: auto !important;
                margin-bottom: 0 !important;
            }
            p.soon {
                margin-top: -4px !important;
            }
            .inputs {
                margin-top: 20px !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
            input:nth-child(1) {
                margin-bottom: 13px !important;
            }
            input:nth-child(2) {
                margin-bottom: 22px !important;
            }
            input[type="text"] {
                margin-left: 10px !important;
                width: 336px !important;
            }
        }
    }
    .video {
        margin-top: 58px !important;
        p.info {
            margin-top: 36px !important;
        }
        .background {
            margin-top: -24px !important;
            text-align: center;
            img {
                max-width: 737px !important;
                position: unset !important;
            }
            // width: 100%;
            background-image: none !important;
        }
    }
    .photo {
        margin-top: 16px !important;
        margin-bottom: 51px !important;
        p.info {
            margin-top: 36px !important;
        }
        img {
            width: 226px;
            height: 208px;
            margin-right: 0px !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
        }
        .example {
            margin-top: 34px !important;
        }
        img:nth-child(-n+6) {
            margin-bottom: 26px !important;
        }
        img:nth-child(1),
        img:nth-child(2),
        img:nth-child(4),
        img:nth-child(5),
        img:nth-child(7),
        img:nth-child(8) {
            margin-right: 28px !important;
        }
    }
}

@media (max-width: 320px) {
    .adaptive320-no-display {
        display: none;
    }
    .container {
        max-width: 289px !important;
    }
    h1 {
        margin-top: -20px !important;
        font-size: 30px !important;
        line-height: 37px !important;
    }
    h2 {
        font-size: 20px !important;
        line-height: 30px !important;
    }
    .nav-bar {
        margin-top: 15px !important;
    }
    .info {
        margin-top: -3px !important;
        font-size: 14px !important;
        line-height: 26px !important;
    }
    .advantages {
        margin-top: 18px !important;
        .title {
            font-size: 18px !important;
            line-height: 32px !important;
        }
        .subtitle {
            font-size: 30px !important;
            line-height: 37px !important;
        }
        ul {
            padding-top: 2px !important;
            padding-left: 30px !important;
            max-width: 256px !important;
            width: max-content !important;
            font-size: 14px !important;
            line-height: 24px !important;
        }
    }
    .assembling {
        margin-top: 35px !important;
        .grid-container {
            margin-top: 11px !important;
            grid-template-columns: 48px 235px !important;
            grid-template-rows: 64px 63px 117px 68px 118px 70px !important;
            grid-template-areas: unset !important;
            grid-auto-flow: column;
            .assembling__counter-1,
            .assembling__counter-2,
            .assembling__counter-3,
            .assembling__counter-4,
            .assembling__counter-5,
            .assembling__counter-6,
            .assembling__item-1,
            .assembling__item-2,
            .assembling__item-3,
            .assembling__item-4,
            .assembling__item-5,
            .assembling__item-6 {
                grid-area: unset !important;
            }
            .assembling__counter-1,
            .assembling__counter-2,
            .assembling__counter-3,
            .assembling__counter-4,
            .assembling__counter-5,
            .assembling__counter-6 {
                align-self: flex-start;
            }
        }
    }
    .why {
        margin-top: 34px !important;
        p.info {
            margin-top: 25px !important;
        }
        .services {
            margin-left: auto;
            margin-right: auto;
            max-width: 289px !important;
            width: 289px !important;
            margin-top: 22px !important;
            .services__guarantee,
            .services__help,
            .services__reviews {
                min-width: 289px !important;
                max-width: 289px !important;
                margin: 0;
            }
            .services__help {
                margin-top: 26px !important;
            }
            .services__reviews {
                margin-top: 32px !important;
            }
            h3 {
                margin-top: 20px !important;
            }
        }
    }
    .consultation {
        margin-top: 29px !important;
        max-width: 289px !important;
        width: 289px !important;
        h2 {
            margin-right: auto;
            margin-left: auto;
            width: 289px !important;
            font-size: 22px !important;
            line-height: 30px !important;
        }
        p.request {
            margin-right: auto !important;
            margin-left: auto !important;
            width: 289px !important;
            margin-top: 0 !important;
            font-size: 14px !important;
            line-height: 26px !important;
        }
        form {
            margin-top: 30px !important;
            box-shadow: none !important;
            .form-container {
                border-top: 1px solid #E5E5E5;
                width: 289px !important;
                .info {
                    margin-top: 25px !important;
                }
                span.black,
                span.red {
                    font-size: 18px !important;
                    line-height: 26px !important;
                }
                p.soon {
                    margin-top: -6px !important;
                    font-size: 14px !important;
                    line-height: 25px !important;
                }
                .inputs {
                    margin-top: 25px !important;
                }
                input[type="text"] {
                    margin-left: 0px !important;
                    width: 270px !important;
                }
            }
        }
    }
    .video {
        margin-top: -2px !important;
        p.info {
            margin-top: 26px !important;
        }
        .background {
            margin-top: 24px !important;
            height: 163px !important;
            img {
                max-width: 287px !important;
                position: unset !important;
            }
        }
    }
    .photo {
        margin-top: 48px !important;
        margin-bottom: 53px !important;
        p.info {
            margin-top: 14px !important;
        }
        .example {
            margin-top: 16px !important;
        }
        img {
            width: 130px;
            height: 120px;
            margin-right: 0px !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
        img:nth-child(-n+6) {
            margin-bottom: 11px !important;
        }
        img:nth-child(1),
        img:nth-child(2),
        img:nth-child(4),
        img:nth-child(5),
        img:nth-child(7),
        img:nth-child(8) {
            margin-right: 0px !important;
        }
        img:nth-child(2n+1) {
            margin-right: 29px !important;
        }
    }
}