header
  .logo
    img(src="../assets/images/header/Logo.png", alt="Дымоход")
  .burger
    img(src="../assets/images/header/burger.svg", alt="Меню")
  .pages.adaptive768-no-display
    ul.pages__list
      li.pages__item Каталог товаров
      li.pages__item Доставка и оплата
      li.pages__item Цены
      li.pages__item Контакты
  .phone.adaptive768-no-display
    span.phone__first +7 (812)
    span.phone__second  509 21 98
  .call.adaptive768-no-display
    span.call__link
      a(href="#")  Перезвоните мне
  .socials.adaptive768-no-display
    ul.socials__list
      li.socials__item
        a(href="vk.com/gggchaseggg")
          img(src="../assets/images/header/vk.svg", alt="Вк", height="12", width="20")
      li.socials__item
        a(href="#")
          img(src="../assets/images/header/telegram.svg", alt="Телеграм", height="17", width="19")
      li.socials__item
        a(href="#")
          img(src="../assets/images/header/instagram.svg", alt="Инстаграм", height="16", width="15")
      li.socials__item
        a(href="#")
          img(src="../assets/images/header/whatsApp.svg", alt="Васап", height="16", width="15")
  .cart
    ul.cart__list
      li.cart__item.adaptive320-no-display
        a(href="#")
          img(src="../assets/images/header/search.svg", alt="Поиск")
      li.cart__item.adaptive320-no-display
        a(href="#")
          img(src="../assets/images/header/favorites.svg", alt="Избранное")
      li.cart__item
        a(href="#")
          img(src="../assets/images/header/cart.svg", alt="Корзина")
