footer
	.container
		.catalog.adaptive768-no-display
			span.catalog__title.title Каталог
			ul.catalog__list
				li.catalog__item
					a(href="#") Дымоходы
				li.catalog__item
					a(href="#") Дымососы
				li.catalog__item
					a(href="#") Печи для дома
				li.catalog__item
					a(href="#") Печи для бани
				li.catalog__item
					a(href="#") Камины
				li.catalog__item
					a(href="#") Силикат кальция
				li.catalog__item
					a(href="#") Котлы
				li.catalog__item
					a(href="#") Еще
		.information.adaptive768-no-display
			span.information__title.title Информация
			ul.information__list
				li.information__item
					a(href="#") Каталог
				li.information__item
					a(href="#") Установка и монтаж
				li.information__item
					a(href="#") Отзывы
				li.information__item
					a(href="#") Ликвидация товара
				li.information__item
					a(href="#") Полезное
				li.information__item
					a(href="#") Контакты
				li.information__item
					a(href="#") Оплата и доставка
		.work-time
			span.work-time__title.title.adaptive768-no-display Время работы
			ul.work-time__list
				li.work-time__item.time.adaptive768-no-display
					span.time-date пн-пт 
					span.time-time 9:00 – 20:00 
					span.time-date &nbsp;&nbsp; сб-вс 
					span.time-time 10:00 – 18:00
				li.work-time__item.address.adaptive768-no-display
					| г. Санкт - Петербург ,ул. Тамбасова д.7
				li.work-time__item.socials
					a(href="#")
						img(src="../assets/images/header/vk.svg", alt="Вк", height="13", width="23")
					a(href="#")
						img(src="../assets/images/header/telegram.svg", alt="Телеграм", height="19", width="22")
					a(href="#")
						img(src="../assets/images/header/instagram.svg", alt="Инстаграм", height="19", width="18")
					a(href="#")
						img(src="../assets/images/header/whatsApp.svg", alt="Васап", height="19", width="18")


